.main-container {
    display: grid;
    height: 100%;
    grid-template-columns: 200px 1fr 200px;
    font-size: larger;
}

.grid-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 20px;
    width: 850px;
}

.heading {
    margin: 10px;
}

@media screen and (max-width: 460px) {
    .main-container {
        grid-template-columns: 1fr;
        padding: 0;
        width: 100vw;
    }

    .grid-sub-container {
        padding: 0;
        width: 100vw;
    }

    .content-container {
        width: 100vw;
        padding: 0;
    }
}
