table, td, th {
    border: 1px solid;
    padding: 5px;
  }

table {
    border-collapse: collapse;
}

.delete-button {
  color: black;
}

@media screen and (max-width: 460px) {
  table {
    font-size: large;
    width: 95vw;
    margin: 0;
    padding: 0;
  }
}
