.sidebar {
    height: calc(100vh - 250px);
    padding-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.hidden {
    height: calc(100vh - 250px);
    padding-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.button-flex {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
    .sidebar {
        width: 100vw;
        height: auto;
        background-color: #43464B;
        padding-bottom: 90px;
        padding-top: 0;
    }

    .hidden {
        display: none;
    }

    .button-flex {
        height: 100%;
        align-items: flex-end;
        justify-content: flex-start;
        padding-right: 15px;
    }
}
