.sidebar {
    height: calc(100vh - 175px);
    padding-top: 25px;
    background-color: black;
    color: white;
    text-align: center;
}

.hidden {
    height: calc(100vh - 175px);
    padding-top: 25px;
    background-color: black;
    color: white;
    text-align: center;
}

.button-flex {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
    .sidebar {
        width: 100vw;
        justify-self: center;
        align-self: center;
        background-color: #43464B;
        padding-bottom: 40px;
        height: auto;
    }

    .hidden {
        display: none;
    }

    .button-flex {
        height: auto;
        align-items: flex-end;
        padding-right: 15px;
    }
}
