.Header {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 50px;
    background-color: black;
    color: white;
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: larger;
}

.nav-link {
    color: white;
    padding: 10px;
    text-decoration: none;
    background: none;
    background-color: #43464B;
    border: none;
    font-size: 20px;
}

.hamburger {
    display: none;
  }

@media screen and (max-width: 460px) {
    .Header {
        width: 100vw;
        height: 50vh;
        padding: 0;
    }

    h1 {
        font-size: 30px;
        order: 2;
    }

    .nav-link {
        order: 1;
    }

    .hamburger {
        display: block;
        background-image: url('../../../public/images/hamburger.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        order: 3;
      }
}
