.Header {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
    background-color: black;
    color: white;
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: larger;
}

.nav-link {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.nav-link-active {
    padding: 10px;
    color: white;
}